* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.card-container {
  perspective: 1000px;
}

.card-body {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
}

.card-item {
  padding: 20px;
  text-align: center;
  transform-style: preserve-3d;
}

h1,
p {
  transform: translateZ(0px);
  transition: transform 0.2s ease;
}
